body,
html {
  margin: 0;
  padding: 0;
}
.Parent {
  margin: 0;
  padding: 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10%;
  box-shadow: cadetblue;
}
.Btn {
  text-align: center;
}
.Btn > a {
  text-decoration: none;
}
