body,
html {
  margin: 0;
  padding: 0;
}
.Parent {
  margin: 0;
  padding: 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(41, 40, 40);
  color: white;
  height: 60px;
}
.Main {
  color: black;
}
